@charset "utf-8";

@font-face {
    font-family: "figtree";
    src: url("../fonts/Figtree-Regular.ttf");
}
@font-face {
    font-family: "figtree-italic";
    src: url("../fonts/Figtree-Italic.ttf");
}
@font-face {
    font-family: "figtree-bold";
    src: url("../fonts/Figtree-Bold.ttf");
}

h1{
    padding: 40px 0;
    padding-left: 210px;
    text-transform: uppercase;
    font-size: 37px;
    font-family: figtree-bold;
    background: url('../images/asset_circulo.svg') no-repeat left -120px center, 
    url('../images/senac_logo.svg') no-repeat right 50px center;
}
h2, h3, h4, h5{
	margin-bottom: 50px;
    margin-top: 50px;
    font-weight: bold;
    font-family: figtree-bold;
}
h2{
    margin-left: -130px;
    font-size: 35px;
}
h3{
    margin-left: -20px;
    font-size: 23px;
}
h4{font-size: 18px;}
h5{font-size: 17px;}
p, li, th, td, a{
    font-family: figtree;
    font-size: 16px;
}
b, strong{font-family: figtree-bold;}
i, blockquote p, blockquote, em{font-family: figtree-italic;}
p{margin-bottom: 30px;}

.container{
    max-width: 900px;
    position: relative;
}
h1{color: #fff;}

/*footer*/
.pagination .active {
    transform: translateY(-8px);
    pointer-events: none;
	margin: 0 1px;
}
.pagination li a:visited {color: #ccc;}


/*classe para borda arredondada padrão*/
.radius{border-radius: 25px;}

/*classe de sombra padrão*/
.shadow{
    -webkit-box-shadow: 9px 11px 26px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 26px -20px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 26px -20px rgba(0,0,0,0.75);
}

/*classe que aplica gradiente primário na div que fica por trás das imagens*/
.borda-colorida{
  border: 20px solid transparent;
  border-radius: 50px;
}

/*tabela*/
table{
    border-radius: 15px 15px 0 0;
    width: 100%;
    overflow: hidden;
}
thead th{
    color: #fff;
    padding: 5px 20px;
}
td{
    border-bottom: 3px solid #1e8cb1;
    border-left: 5px solid #fff;
    padding: 10px 20px;
    line-height: 20px;
}
tbody td:first-child{border-left: 0;}

/*painel gaitinha ou accordion*/
.accordion-button, .accordion-button:not(.collapsed){
    color: #fff;
    border-radius: 15px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.accordion-item, .accordion-item:first-of-type{
    border: none;
    margin-bottom: 15px;
}
.accordion-button::after{
    filter: invert(1);
}
.accordion-button:not(.collapsed)::after{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}
.accordion-body{
    margin-left: 20px;
    border-left: 3px solid #1e8cb1;
}

/*slideshow - carousel*/
/*carousel bootstrap*/
.carousel-inner{overflow: unset;}
.carousel-control-prev, .carousel-control-next, 
.splide__arrow, .splide__arrow:disabled{
    height: 31px;
    width: 31px;
    opacity: 1;
    top: 0;
    bottom: 0;
    margin: auto;
}
.carousel-control-prev{
    background: url('../images/seta_esq.svg') no-repeat;
    left: -50px;
}
.carousel-control-next{
    background: url('../images/seta_dir.svg') no-repeat;
    right: -50px;
}
.carousel-indicators{
    margin-bottom: 0;
    bottom: -50px;
}
.carousel-indicators [data-bs-target], .splide__pagination__page{
    height: 22px;
    width: 22px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    opacity: 1;
    background-color: #fff;
}



/*splide carousel*/
.container-fluid .splide .splide__slide{margin-right: 100px;}
.splide .card-body{
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.splide .card:hover .card-body{
    opacity: 1;
}
.splide .card{
    position: relative;
    border-radius: unset;
    border: none;
    background: none;
    margin-bottom: 30px;
}
.splide .card .card-body{
    position: absolute;
    bottom: 20px;
    background: #fff;
    width: calc(95% - 2px);
    border: none;
    left: 20px;
    border-radius: 0 0 25px 25px;
}
.splide__arrows svg{display: none;}
.splide__arrow--prev{background: url('../images/seta_esq.svg') no-repeat;}
.splide__arrow--next{background: url('../images/seta_dir.svg') no-repeat;}
.splide__pagination{
    bottom: -20px;
}
.splide__pagination__page.is-active{transform: unset;}

/*estilo de botão padrão*/
.botao{
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    background: #fff;
    padding: 10px 25px;
    overflow: hidden;
}

/*modais*/
.modal-header{
    border-bottom: unset;
    border-radius: 25px 25px 0 0;
}
.modal-header h5{
    margin-top: 0;
    color: #fff;
    padding: 5px 20px;
}
.modal-header .btn-close{
    filter: invert(1);
    opacity: 1;
}
.btn-close:focus{box-shadow: unset;}
.modal-body{
    border-width: 3px;
    border-style: solid;
    padding: 20px 40px;
    border-radius: 0 0 25px 25px;
    background: #fff;
}
.modal-content{
    border: unset;
    background: unset
}


.accordion-header, .card-title{margin-top: 0;}

@media screen and (max-width: 1580px){
    h1, h2, h3{
        margin-left: 0;
    }
}